:root {
  --primary-color:#2e0073;
  --secondary-color:#b3fe03;
  --secondary-hover-color:#eeff00;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Silkscreen', sans-serif;
  /* font-weight: 700; */
  display: flex;
  padding: 2rem 3rem;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.scores a,.timer  {
  
  color: var(--secondary-color);
  font-size: 2rem;
  position: relative;
 }
 
 .current-score,.score {
  text-transform: uppercase;
  font-family: 'Silkscreen', sans-serif;
  text-align: center;
  color: var(--primary-color);
  font-size: 2rem;
  position: relative;
 }

 .current-score {
  background-color: var(--secondary-color);
 }

a {
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: var(--secondary-hover-color);
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 10%;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
}

button {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 2px 10px;
  color: rgb(24, 4, 4);
  border: 0;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--primary-color);
  color: #b3fe03;
}

.choices button {
  display: flex;
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 1rem;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 50px auto 0 auto;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  max-width: 600px;
  border: 3px solid var(--primary-color);
  border-radius: 20px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.questions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.btn {
 text-align: start;
 display: block;
}

#question-title {
  font-family: 'Silkscreen', sans-serif;
 font-weight: 400;
 margin-top: 0;
}